<section class="centerForm">
	<%= form_for :session, :url=>sessions_path, :method=>:post do |f|%>
		<p class = "centerFormElement">
			<%= f.label :username, "Username:" %>
			<%= f.text_field :username , :required =>true%>
		</p>

		<p class = "centerFormElement">
			<%= f.label :password, "Password:" %>
			<%= f.password_field :password, :required =>true%>
		</p>
		<p class = "centerFormElement">
			<%= f.submit "Log in"%>
		</p>
	<%end%>
</section>
<!--<%= form_tag login_path do |f| %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= submit_tag "Enter" %>
  <%end%>-->
